<div class="navbar navbar-form navbar-expand-sm bg-dark border box-shadow rounded flex-row justify-content-between">
    <div class="col-md-2 navbar-brand text-light"><b>@Title</b></div>
    <div class=" btn-group pr-3">
        <button type="submit" class="btn @ButtonType">@ButtonText</button>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string ButtonText { get; set; }
    [Parameter]
    public string ButtonType { get; set; } = "btn-success";
} 