<div class="col-2">
    <label for="filter">Search</label>
    <div class="input-group no-color">
        <input class="form-control" @bind="SearchTerm" @bind:event="oninput" />
    </div>
</div>


@code {
    [CascadingParameter]
    public string SearchTerm { get; set; }
}