@page "/Car"
@page "/Car/{id:int}"


<div class="row">
    <h1>Car</h1>
    <button class="btn btn-info offset-11 mb-3" @onclick="Toggle">@text</button>
</div>


@if (showList)
{
    <CarList DetailsCallback="Details" />
}
else
{
    <CascadingValue Value="Id">
        <CarForm />
    </CascadingValue>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private bool showList;

    private string text;

    protected override void OnInitialized()
    {
        if(Id == 0)
        {
            showList = true;
        }

        text = Id == 0 ? "New" : "List";
    }

    public void Toggle()
    {
        showList = !showList;
        text = showList ? "New" : "List";
        if (!showList)
        {
            Id = 0;
        }
    }

    public void Details(int id)
    {
        Toggle();
        Id = id;
    }
}
